#Task 4.6- Combining & Exporting Data

Steps
1- Import the orders_products_combined dataframe from the pickle file you just saved.

2-Check the shape of the imported dataframe.
.
3-Determine a suitable way to combine the orders_products_combined dataframe with your products data set. Make sure you’re using your wrangled, cleaned, and deduped products data set stored in your “Prepared Data” folder from the previous Exercise’s task.

4-Confirm the results of the merge using the merge flag.

5-Export the newly created dataframe as ords_prods_merge in a suitable format (taking into consideration the size).

# Import Libraries and Dataframe

In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\kenwh'

In [3]:
path

'C:\\Users\\kenwh'

In [4]:
# Import df_Prods
df_prods = pd.read_csv(os.path.join(path,'Instacart Basket Anaylsis', '02 Data', 'Prepared Data','product_cleaned.csv' ), index_col = False)

In [5]:
# Import order_products_combined
df_ords_prods_combined = pd.read_pickle(os.path.join(path,'Instacart Basket Anaylsis','02 Data','Prepared Data','orders_products_combined.pkl'))

# Question 4- Check Shape/head of dataframes

In [6]:
df_prods.shape

(49677, 6)

In [7]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [8]:
df_ords_prods_combined.shape

(32434489, 12)

In [9]:
df_ords_prods_combined.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,0.0,196,1,0,both
1,0,0,2539329,1,1,2,8,0.0,14084,2,0,both
2,0,0,2539329,1,1,2,8,0.0,12427,3,0,both
3,0,0,2539329,1,1,2,8,0.0,26088,4,0,both
4,0,0,2539329,1,1,2,8,0.0,26405,5,0,both

#Question 5 - Determine a suitable way to combine the orders_products_combined dataframe with your products data set.

Step 1- Drop extra colums from both dataframes

In [10]:
# drop df_prods columns
df_prods = df_prods.drop(columns = ['Unnamed: 0'])

In [11]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [12]:
# drop df_ords_prods_combined columns
df_ords_prods_combined = df_ords_prods_combined.drop(columns = ['Unnamed: 0', 'Unnamed: 0.1', '_merge'])

In [13]:
df_ords_prods_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,0.0,196,1,0
1,2539329,1,1,2,8,0.0,14084,2,0
2,2539329,1,1,2,8,0.0,12427,3,0
3,2539329,1,1,2,8,0.0,26088,4,0
4,2539329,1,1,2,8,0.0,26405,5,0

Merge df_ords_prods_combined and df_prods using the product_id column which is in both sets

In [14]:
df_ords_prods_merged = df_ords_prods_combined.merge(df_prods, on = 'product_id', indicator = True)

#Part 6- Confirm the results of the merge using the merge flags.

In [15]:
df_ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,0.0,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [16]:
df_ords_prods_merged['_merge'].value_counts()

_merge
both          32406041
left_only            0
right_only           0
Name: count, dtype: int64

In [17]:
df_ords_prods_merged.shape

(32406041, 14)

# Question 7 - Export the newly created dataframe as ords_prods_merge in pickle format

In [18]:
df_ords_prods_merged.to_pickle(os.path.join(path, 'Instacart Basket Anaylsis', '02 Data','Prepared Data', 'orders_products_merged.pkl'))