# 4.7 Deriving New Variables

Walkthrough Steps
1- Create a price range column
2-Create a busy day column

Task Steps- 

1- Switch “Busiest day” to become “Busiest days” (plural). This label should correspond with the two busiest days and two slowest days of the week. Create a new column for this using a suitable method.

2- Check the values of this new column for accuracy. 
Note any observations in markdown format.

3 - Identify the busiest hours of the day. Rather than by hour, label by “Most orders,” “Average orders,” and “Fewest orders.” Create a new column containing these labels called “busiest_period_of_day.”

Print the frequency for this new column.

In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

In [3]:
path = r'C:\Users\kenwh'

In [4]:
path

'C:\\Users\\kenwh'

In [11]:
# Import ords_prod_merge dataframe
df_ords_prod_merge = pd.read_pickle(os.path.join(path,'Instacart Basket Anaylsis', '02 Data', 'Prepared Data','orders_products_merged.pkl'))

In [17]:
df_ords_prod_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,0.0,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [24]:
df = df_ords_prod_merge[:1000000]

In [25]:
df.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,0.0,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [21]:
#Add string for low, mid and high prices to test dataframe
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [26]:
df['price_range'] = df.apply(price_label, axis=1)

C:\Users\kenwh\AppData\Local\Temp\ipykernel_20368\2848743372.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [28]:
df['price_range'].value_counts(dropna= False)

price_range
Mid-range product    756450
Low-range product    243550
Name: count, dtype: int64

In [31]:
df['prices'].max()

14.8

In [34]:
#try out using the loc function to create a low mid and high range price
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [33]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [35]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [36]:
df['price_range_loc'].value_counts(dropna= False)

price_range_loc
Mid-range product    756450
Low-range product    243550
Name: count, dtype: int64

In [44]:
#apply the loc fuction to teh whole dataframe
df_ords_prod_merge.loc[(df_ords_prod_merge['prices'] > 15), 'price_range_loc'] = 'High-range product'

In [45]:
df_ords_prod_merge.loc[(df_ords_prod_merge['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [47]:
df_ords_prod_merge.loc[(df_ords_prod_merge['prices'] <= 5), 'price_range_loc'] = 'Low-range product'

In [48]:
df_ords_prod_merge['price_range_loc'].value_counts(dropna = False)

price_range_loc
nan                   21105547
Low-range product     10126366
Mid-range product       756450
High-range product      417678
Name: count, dtype: int64

In [49]:
#Practice creating a for loop statement and use it to create a busiest day column
df_ords_prod_merge['orders_day_of_week'].value_counts(dropna = False)

orders_day_of_week
0    6204404
1    5660456
6    4496635
2    4213986
5    4205906
3    3840701
4    3783953
Name: count, dtype: int64

In [51]:
result = []

for value in df_ords_prod_merge["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [53]:
df_ords_prod_merge ['busiest_day'] = result

In [54]:
df_ords_prod_merge['busiest_day'].value_counts(dropna = False)

busiest_day
Regularly busy    22417684
Busiest day        6204404
Least busy         3783953
Name: count, dtype: int64

# Task Steps

Change “Busiest day” to become “Busiest days” (plural). This label should correspond with the two busiest days of the week as opposed to the single busiest day. Do the same for the two slowest days

In [76]:
# create busiest days column for orders day_of_week using the two busiest and two slowest days
result_2 = []

for value in df_ords_prod_merge["orders_day_of_week"]:
  if value == 0 or value == 1:
    result_2.append("Busiest days")
  elif value == 4 or value == 3:
    result_2.append("Slowest days")
  else:
    result_2.append("Regularly busy")

#Check the values of the new column for accuracy

In [79]:
df_ords_prod_merge['busiest_days'] = result_2

In [80]:
df_ords_prod_merge['busiest_days'].value_counts(dropna = False)

busiest_days
Regularly busy    12916527
Busiest days      11864860
Slowest days       7624654
Name: count, dtype: int64

In [81]:
df_ords_prod_merge['orders_day_of_week'].value_counts(dropna = False)

orders_day_of_week
0    6204404
1    5660456
6    4496635
2    4213986
5    4205906
3    3840701
4    3783953
Name: count, dtype: int64

adding 0  + 1 togther gets you the same number as busiest days
adding 6, 2 and 5 together gets you the same number as regularly busy
adding 3 and 4 together gets you the same number as slowest days

This shows the column is accurate with the right amount of inputs

#Create a new column containing  “busiest_period_of_day" that has lables of "most_orders" "average orders" and "fewest_orders"

In [82]:
# check value count
df_ords_prod_merge['order_hour_of_day'].value_counts()

order_hour_of_day
10    2761862
11    2736242
14    2689251
15    2662246
13    2661057
12    2618613
16    2535313
9     2454273
17    2087721
8     1718182
18    1636566
19    1258352
20     976182
7      891082
21     795658
22     634247
23     402335
6      290500
0      218786
1      115706
5       87964
2       69377
4       53245
3       51281
Name: count, dtype: int64

To create these labels, "most orders" will be the top 8 times (10, 11, 14 and 15, 13, 12, 16 and 9 so 9:00am and 15:00 (3:00 pm).

The time period of fewest_orders is 23, 6, 0, 1, 5, 2, 4, 3. So between 11:00pm to 6:00am

The rest (17, 8, 18, 19, 20, 7, 21 and 22) will fall in the average_orders category

In [83]:
# create a for loop

result_3 = []

for value in df_ords_prod_merge["order_hour_of_day"]:
  if value in [10, 11, 14, 15, 13, 12, 16, 9]:
    result_3.append("Most orders")
  elif value in [23, 6, 0, 1, 5, 2, 4, 3]:
    result_3.append("Fewest orders")
  else:
    result_3.append("Average orders")

In [86]:
# create the column for busiest_period_of_day
df_ords_prod_merge["order_hour_of_day"] = result_3

In [87]:
#value counts
df_ords_prod_merge['order_hour_of_day'].value_counts(dropna = False)

order_hour_of_day
Most orders       21118857
Average orders     9997990
Fewest orders      1289194
Name: count, dtype: int64

#Export as pickle file to prepared data folder

In [88]:
df_ords_prod_merge.to_pickle(os.path.join(path, 'Instacart Basket Anaylsis', '02 Data','Prepared Data', 'ords_prod_merge.pkl'))