# Task 4.9 Part 1 - Intro to Data Visualization with Python

Steps
1-Import your analysis libraries, as well as your new customer data set as a dataframe.

2-Wrangle the data so that it follows consistent logic; for example, rename columns with illogical names and drop columns that don’t add anything to your analysis.

3-Complete the fundamental data quality and consistency checks you’ve learned throughout this Achievement; for example, check for and address missing values and duplicates, and convert any mixed-type data.

4-Combine your customer data with the rest of your prepared Instacart data. (Hint: Make sure the key columns are the same data type!)

5-Export this new dataframe as a pickle file so you can continue to use it in the second part of this task.

Step 1- Import databases and libraries

In [2]:
#import Libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [3]:
# Import Database
path = r'C:\Users\kenwh'

In [3]:
path

'C:\\Users\\kenwh'

In [4]:
df_customer_data = pd.read_csv(os.path.join(path,'Instacart Basket Anaylsis', '02 Data', 'Original Data','customers.csv' ), index_col = False)

In [5]:
df_customer_data.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

# Part 4- Wrangle the data so that it follows consistent logic; for example, rename columns with illogical names and drop columns that don’t add anything to your analysis.

In [6]:
# Rename Columns
df_customer_data.rename(columns={'Surnam':'Last_Name', 'fam_status':'family_status','STATE':'State','n_dependants':'dependants',
                  }, inplace=True)

In [7]:
df_customer_data.head()

,user_id,First Name,Last_Name,Gender,State,Age,date_joined,dependants,family_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

# Step 5 - Complete the fundamental data quality and consistency checks you’ve learned throughout this Achievement; for example, check for and address missing values and duplicates, and convert any mixed-type data.

In [8]:
# check for duplicates
duplicated = df_customer_data[df_customer_data.duplicated()]
duplicated

Empty DataFrame
Columns: [user_id, First Name, Last_Name, Gender, State, Age, date_joined, dependants, family_status, income]
Index: []

No duplicated rows
Next step- check for missing values

In [9]:
df_customer_data.isnull().sum()

user_id              0
First Name       11259
Last_Name            0
Gender               0
State                0
Age                  0
date_joined          0
dependants           0
family_status        0
income               0
dtype: int64

In [10]:
df_customer_data[df_customer_data['First Name'].isnull()]

,user_id,First Name,Last_Name,Gender,State,Age,date_joined,dependants,family_status,income
53,76659,NaN,Gilbert,Male,Colorado,26,1/1/2017,2,married,41709
73,13738,NaN,Frost,Female,Louisiana,39,1/1/2017,0,single,82518
82,89996,NaN,Dawson,Female,Oregon,52,1/1/2017,3,married,117099
99,96166,NaN,Oconnor,Male,Oklahoma,51,1/1/2017,1,married,155673
105,29778,NaN,Dawson,Female,Utah,63,1/1/2017,3,married,151819
...,...,...,...,...,...,...,...,...,...,...
206038,121317,NaN,Melton,Male,Pennsylvania,28,3/31/2020,3,married,87783
206044,200799,NaN,Copeland,Female,Hawaii,52,4/1/2020,2,married,108488
206090,167394,NaN,Frost,Female,Hawaii,61,4/1/2020,1,married,45275
206162,187532,NaN,Floyd,Female,California,39,4/1/2020,0,single,56325
206171,116898,NaN,Delgado,Female,Colorado,23,4/1/2020,2,married,59222

The missing values are in the first name column, which we can leave them as is and only deal with them if needed later.

#check for mixed type data

In [11]:
df_customer_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   user_id        206209 non-null  int64
 1   First Name     194950 non-null  object
 2   Last_Name      206209 non-null  object
 3   Gender         206209 non-null  object
 4   State          206209 non-null  object
 5   Age            206209 non-null  int64
 6   date_joined    206209 non-null  object
 7   dependants     206209 non-null  int64
 8   family_status  206209 non-null  object
 9   income         206209 non-null  int64
dtypes: int64(4), object(6)
memory usage: 15.7+ MB

In [12]:
df_customer_data.dtypes

user_id           int64
First Name       object
Last_Name        object
Gender           object
State            object
Age               int64
date_joined      object
dependants        int64
family_status    object
income            int64
dtype: object

everything looks good except for the date_joined column which we want to swtich to a date data type

In [13]:
df_customer_data['date_joined']=pd.to_datetime(df_customer_data['date_joined'])

In [14]:
df_customer_data.dtypes

user_id                   int64
First Name               object
Last_Name                object
Gender                   object
State                    object
Age                       int64
date_joined      datetime64[ns]
dependants                int64
family_status            object
income                    int64
dtype: object

# Step 6- Combine your customer data with the rest of your prepared Instacart data

Load prepared dataframe

In [15]:
df_ords_prods_merge = pd.read_pickle(os.path.join(path,'Instacart Basket Anaylsis', '02 Data', 'Prepared Data', 'ords_prod_merge_new.pkl'))

In [16]:
#created a raondom 1,000,000 rows to create a smaller dataframe with less memory. As instructed to do by tutor

df_sample = df_ords_prods_merge.sample(n=1000000, random_state=42)

In [17]:
df_sample.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,_merge,price_range_loc,busiest_day,busiest_days,max_order,loyalty_flag,mean_product_price,spending_flag,median_days_between_orders,order_frequency
2658787,1622621,153719,20,6,Average orders,13.0,27737,28,0,Brown Rice Black-Eyed Peas and Veggies Bowl,...,both,Low-range product,Regularly busy,Regularly busy,75,Loyal customer,7.721530,Low spender,4.0,Frequent_customer
22120498,633504,30390,8,6,Average orders,8.0,11461,1,1,White Corn Tortillas,...,both,Low-range product,Regularly busy,Regularly busy,14,Regular customer,8.515385,Low spender,8.0,Frequent_customer
1849057,3133596,139711,3,5,Average orders,11.0,24852,3,1,Banana,...,both,nan,Regularly busy,Regularly busy,10,New customer,8.075248,Low spender,20.0,nan
31648905,351881,25591,28,0,Most orders,7.0,43456,2,1,Family Size Ripple Cut Potato Chips,...,both,Low-range product,Busiest days,Busiest days,28,Regular customer,7.131963,Low spender,7.0,Frequent_customer
22648738,1844837,29213,30,3,Most orders,0.0,18670,1,1,Original Enriched Rice Drink,...,both,nan,Slowest days,Slowest days,30,Regular customer,7.512619,Low spender,5.0,Frequent_customer

In [18]:
df_sample.dtypes

order_id                         int64
user_id                          int64
order_number                     int64
orders_day_of_week               int64
order_hour_of_day               object
days_since_prior_order         float64
product_id                       int64
add_to_cart_order                int64
reordered                        int64
product_name                    object
aisle_id                         int64
department_id                    int64
prices                         float64
_merge                        category
price_range_loc                 object
busiest_day                     object
busiest_days                    object
max_order                        int64
loyalty_flag                    object
mean_product_price             float64
spending_flag                   object
median_days_between_orders     float64
order_frequency                 object
dtype: object

In [19]:
df_customer_data.dtypes

user_id                   int64
First Name               object
Last_Name                object
Gender                   object
State                    object
Age                       int64
date_joined      datetime64[ns]
dependants                int64
family_status            object
income                    int64
dtype: object

#deal with memory issues

In [20]:
df_sample.columns

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'product_id',
       'add_to_cart_order', 'reordered', 'product_name', 'aisle_id',
       'department_id', 'prices', '_merge', 'price_range_loc', 'busiest_day',
       'busiest_days', 'max_order', 'loyalty_flag', 'mean_product_price',
       'spending_flag', 'median_days_between_orders', 'order_frequency'],
      dtype='object')

In [21]:
df_sample.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000000 entries, 2658787 to 14086600
Data columns (total 23 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   order_id                    1000000 non-null  int64
 1   user_id                     1000000 non-null  int64
 2   order_number                1000000 non-null  int64
 3   orders_day_of_week          1000000 non-null  int64
 4   order_hour_of_day           1000000 non-null  object
 5   days_since_prior_order      1000000 non-null  float64
 6   product_id                  1000000 non-null  int64
 7   add_to_cart_order           1000000 non-null  int64
 8   reordered                   1000000 non-null  int64
 9   product_name                1000000 non-null  object
 10  aisle_id                    1000000 non-null  int64
 11  department_id               1000000 non-null  int64
 12  prices                      1000000 non-null  float64
 13  _merge                      1000000 non-null  category
 14  price_range_loc             1000000 non-null  object
 15  busiest_day                 1000000 non-null  object
 16  busiest_days                1000000 non-null  object
 17  max_order                   1000000 non-null  int64
 18  loyalty_flag                1000000 non-null  object
 19  mean_product_price          1000000 non-null  float64
 20  spending_flag               1000000 non-null  object
 21  median_days_between_orders  1000000 non-null  float64
 22  order_frequency             1000000 non-null  object
dtypes: category(1), float64(4), int64(10), object(8)
memory usage: 176.4+ MB

user_id is in both dataframes and has the same data type so that is what we will use for the merge

#Merge the two dataframes using "user_id"

In [23]:
df_sample.rename(columns={'_merge': '_merge_sample'}, inplace=True)

In [24]:
# Perform the merge with indicator=True
df_merged = df_sample.merge(df_customer_data, on='user_id', indicator=True)

In [25]:
df_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,First Name,Last_Name,Gender,State,Age,date_joined,dependants,family_status,income,_merge
0,1622621,153719,20,6,Average orders,13.0,27737,28,0,Brown Rice Black-Eyed Peas and Veggies Bowl,...,Doris,Richmond,Female,California,41,2020-01-31,2,married,85350,both
1,2657362,153719,57,0,Average orders,3.0,28123,20,1,Organic Cut Green Beans,...,Doris,Richmond,Female,California,41,2020-01-31,2,married,85350,both
2,1325818,153719,68,1,Most orders,2.0,32043,15,0,Organic Low Fat Vanila Milk,...,Doris,Richmond,Female,California,41,2020-01-31,2,married,85350,both
3,1776771,153719,10,6,Most orders,20.0,28934,19,1,Frozen Broccoli Florets,...,Doris,Richmond,Female,California,41,2020-01-31,2,married,85350,both
4,2657362,153719,57,0,Average orders,3.0,19173,8,1,Orange Calcium & Vitamin D Pulp Free,...,Doris,Richmond,Female,California,41,2020-01-31,2,married,85350,both

In [27]:
df_merged.shape

(1000000, 33)

These checks show that the merge was sucsessful

# Part 8- Export this new dataframe as a pickle file

In [30]:
df_merged.to_pickle(os.path.join(path, 'Instacart Basket Anaylsis', '02 Data','Prepared Data', 'orders_products_combined.pkl'))