In [1]:
#import Libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
path = r'C:\Users\kenwh'

In [3]:
path

'C:\\Users\\kenwh'

In [5]:
df_ords_prods_merge = pd.read_pickle(os.path.join(path,'Instacart Basket Anaylsis', '02 Data', 'Prepared Data', 'ords_prod_merge_new.pkl'))

In [9]:
df_ords_prods_merge.drop(columns = { 'reordered',}, inplace = True)

In [10]:
df_ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,max_order,mean_product_price,median_days_between_orders,order_frequency
0,2539329,1,1,2,Average orders,0.0,196,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,10,6.367797,20.0,nan
1,2398795,1,2,3,Average orders,15.0,196,Soda,77,7,9.0,Mid-range product,Slowest days,Slowest days,10,6.367797,20.0,nan
2,473747,1,3,3,Most orders,21.0,196,Soda,77,7,9.0,Mid-range product,Slowest days,Slowest days,10,6.367797,20.0,nan
3,2254736,1,4,4,Average orders,29.0,196,Soda,77,7,9.0,Mid-range product,Slowest days,Slowest days,10,6.367797,20.0,nan
4,431534,1,5,4,Most orders,28.0,196,Soda,77,7,9.0,Mid-range product,Slowest days,Slowest days,10,6.367797,20.0,nan

In [11]:
df_ords_prods_merge.to_pickle(os.path.join(path, 'Instacart Basket Anaylsis', '02 Data','Prepared Data', 'ords_prod_merge_less_data.pkl'))